@import "./variables.scss";

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    outline: none;
    color: initial;
}

.link {
    cursor: pointer;
    color: $link-color;
    transition: all 0.15s ease;
    text-decoration: none;
    outline: none;
    
    i {
        color: inherit;
    }
    
    &:hover {
        color: $link-hover-color;
    }
    
    &--secondary {
        @extend .link;
        color: $link-secondary-color;
        
        &:hover {
            color: $link-hover-color;
        }
    }
    
    &--alternative {
        @extend .link;
        color: $nobel;
        
        &:hover {
            color: $link-hover-color;
        }
    }
}